*{
  padding: 0;
  margin:0;
}

body{
  font-family: 'Poppins',sans-serif;
}

.navbar{
  display: flex;
  padding: 18px;
  justify-content: space-between;
  align-items: center;
  background-color: white;
  color: black;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.navbar-links{
  display: flex;
  gap: 30px;
}

.navbar-links a{
  color: black;
  text-decoration: none;
}
.navbar-links a:hover{
  text-decoration: underline;
}

.menu-bar{
  display: none;
}

@media screen and (max-width:650px) {
  .navbar-links a{
    display: none;
  }
  .menu-bar{
    display: block;
  }
  .sub-content{
    margin-left: -40px;
    margin-top: 70px;
  }
  .intro-img img{
    width: 100%;
  }
  .sub-image-container div img{
    width: 200px;
  }
}

@media screen and (max-width:400px) {
  .intro-img img{
    width: 100%;
  }

}

.side-navbar{
    background-color: #1D232C;
    width: 50%;
    height: 100%;
    position: fixed;
    top: 0;
    left: -60%;
    padding: 20px;
    color: white;
    transition: 1s;
    z-index: 1;
}

.side-navbar-links a{
  color: white;
  text-decoration: none;
}

.side-navbar-links a:hover{
  text-decoration: underline;
}

.side-navbar-link{
  margin-bottom: 25px;
}

.sub-content{
  display: flex;
  flex-direction: column;
}

.head-image img{
  width: 100%;
  height: 100vh;
}

.head-image{
  position: relative;
}

.sub-content{
  position: absolute;
  top: 10%;
  left: 10%;
  padding: 20px;
  color: white;
}

.sub-content div{
  margin-bottom: 25px;
}

.buy{
  cursor: pointer;
  padding: 5px;
  border-radius: 50px;
  border: none;
  font-size: 18px;
  background-color: white;
  font-family: 'Poppins';
  font-weight: bold;
  padding-left: 10px;
  padding-right: 10px;
}

.buy:hover{
 background-color: black;
 color: white;
}

.sub-image-container div{
  margin-top:20px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
  gap: 20px;
}

.sub-image-container div img{
 border-radius: 10px;
 margin-bottom: 10px;
 opacity: 0.5;
}

.sub-image-container{
  display: flex;
  justify-content: space-around;
}

.sub-image-container div img:hover{
  position: relative;
  top: -10px;
  opacity: 1;
  transition: 0.15s;
  box-shadow: rgba(0, 0, 0, 0.7) 0px 1px 1px, rgba(0, 0, 0, 0.07) 0px 2px 2px, rgba(0, 0, 0, 0.07) 0px 4px 4px, rgba(0, 0, 0, 0.07) 0px 8px 8px, rgba(0, 0, 0, 0.07) 0px 16px 16px;
}


.intoduction{
  padding: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.find-btn{
  margin-top: 20px;
  padding: 12px;
  border-radius: 50px;
  border: none;
  background-color: blue;
  color: white;
  font-weight: bold;
}




